@import '../../constants.less';

.gg-carousel-wrapper {
    display: inline-flex;
    width: 100%;

    img {
        height: 24px;
        font-size: 3rem;
        background: transparent;
        margin: auto;        
    }
    img:hover {
        cursor: pointer;
    }

    img[disabled] {
        color: @gray4;
        opacity: 0.2;
        cursor: default;
    }

    .gg-carousel-component {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 165px;        

        > div {
            position: absolute;
            transition: all 0.75s ease;
        }
    }
}