.imageSlider-container {
    display: inline-flex;
    position: relative;
    margin-right: 1.2rem;

    .imageSlider-button {
        position: absolute;
        top: 50%;
        cursor: pointer;
    }

    .imageSlider-small-image {
        width: 48px;
        display: block;
        margin: 0.4rem;
        cursor: pointer;

        .selected {
            border: 1px solid black;
        }
    }

    .imageSlider-large-image {
        margin-left: 1.2rem;
        border: 1px solid #EEEEEE;
    }
}